/* Entire body styling. */
body {
    background-color: #e9e9e9;
    font-family: Avenir, Geneva, Arial, sans-serif;
    font-size: calc(22px + 12 * ((100vw - 300px) / 1300));
}

/* The positioning and padding of the WorkIn logo. */
.logo-image {
    float: left;
    position: relative;
    padding: 13px 20px 0px 20px;
}

/* Made buttons to control padding and vertical centering. */
.button {
    float: right;
    color: black;
    display: inline-block;
    padding: 26px 44px 0px 10px;
    font-size: 20px;
}

/* Don't display the three-horizontal-barred hamburger. Only display it when
   width is less than 1020. */
@media screen and (min-width: 1021px) {
    .hamburger {
        display: none;
    }
}

/* Display the hamburger and the sidenav at a width of 1020px of less. */
@media screen and (max-width: 1020px) {
    .topnav a.hamburger {
        float: right;
        padding: 24px 30px 10px 30px;
    }

    .sidenav {
        z-index: 1;
        right: 0;
        height: 100%;
        background-color: #000000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 30px;
        position: fixed;
    }

    .topnav a:not(#first-child):not(.hamburger), .sidenav {
        display: none;
    }

    .sidenav a {
        display: block;
        background-color: #000000;
        font-size: calc(20px + 12 * ((100vw - 300px) / 1300));
        transition: 0.3s;
    }

    .sidenav a:link, .sidenav a:visited {
        color: #e9e9e9;
        text-decoration: none;
    }

    .sidenav a:hover, .sidenav a:active {
        color: #47b075;
        text-decoration: underline;
    }

    .closebtn {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    #navbar-footer, .sidenav a {
        padding: 8px 15px 8px 32px;
        text-align: left;
    }

    #navbar-footer {
        font-size: calc(10px + 12 * ((100vw - 300px) / 1300));
    }

    .sticky + .content {
        padding-top: 100px;
    }
}

/* Styling of the links. */
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #47b075;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

a:active {
    color: #FFFFFF;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Styling of the sticky header once screen is scrolled down. */
.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    top: 0;
    z-index: 1;
    width: 100%;
}

/* The different sections of the website are table-row classes. */
.table-row {
    width: 80%;
    padding: 80px 10% 28% 10%;
}

.black-background {
    background-color: #191919;
}

.gray-background {
    background-color: #e9e9e9;
}

.slideshow {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
}

/* For mobile screens. */
@media screen and (max-width:659px) {
    .introduction-text {
        top: 25vh;
        font-size: calc(27px + 12 * ((100vw - 300px) / 1300));
    }
}

/* For desktop screens. */
@media screen and (min-width:660px) {
    .introduction-text {
        font-size: calc(35px + 12 * ((100vw - 300px) / 1300));
        top: 40vh;
    }
}

.introduction-text {
    width: 90%;
    left: 5vw;
    right: 5vw;
    position: absolute;
    color: black;
    padding: 3px 0px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 5px;
}

/* No display of the downward-pointing arrow when width is greater than 1011px
   because it does not look nice! */
@media screen and (max-width:1011px) {
    .arrow-to-content {
        display: none;
    }
}

/* Display when screen greater than 1012px! */
@media screen and (min-width:1012px) {
    .arrow-to-content {
        position: relative;
        bottom: calc((2 / 5) * (100vw - 868px));
    }

    @keyframes bouncing {
        0% {bottom: 0;}
        50% {bottom: 20px;}
        100% {bottom: 0;}
    }

    .arrow {
        animation: bouncing 1s infinite ease-in-out;
        left: 50%;
        position: absolute;
    }

    .arrow a:link {
        color: white;
    }

    .arrow a:hover, .arrow a:active {
        color: #47b075;
        text-decoration: none;
    }
}

/* All h2's have this styling. */
h2 {
    font-size: 100%;
    padding: 20px 0px 0px 0px;
}

/* This is to style the horizontal bar below each section title. */
.lowbar {
    font-size: 80%;
    padding: 20px 0px 15px 0px;
}

p, ul {
    color: #a5a5a5;
    font-size: 73%;
}

/* Mobile friendly responsive Facilities and Perks section. */
/* (For phones and tablets) */
@media screen and (max-width:910px) {
    /* Reduces the amount of padding in the bottom for better view
       in mobile devices. Also used in the Contact Us section. */
    .table-row-perks {
        width: 80%;
        padding: 80px 10% 15px 10%;
        clear: both;
    }

    .perk-box {
        font-size: calc(14px + 12 * ((100vw - 300px) / 1300));
        text-align: center;
        height: 150px;
        width: 200px;
        padding: 55px 10px 0px 10px;
    }

    .pb1, .pb3, .pb5, .pb7 {
        background-color: #e9e9e9;
    }

    .pb1:hover, .pb3:hover, .pb5:hover, .pb7:hover {
        background-color: #d2d2d2;
    }

    .pb2, .pb4, .pb6, .pb8 {
        background-color: #47b075;
    }

    .pb1, .pb3, .pb5, .pb7, .pb2, .pb4, .pb6, .pb8 {
        margin: auto;
    }

    .pb2:hover, .pb4:hover, .pb6:hover, .pb8:hover {
        background-color: #68c290;
    }

    .perk-text {
        padding: 10px;
    }
}

/* Desktop/laptop Facilities and Perks section. */
@media screen and (min-width:911px) {
    .perk-box {
        width: 19.5%;
        height: 130px;
        padding: 50px 20px 10px 20px;
        float: left;
        text-align: center;
        font-size: calc(14px + 12 * ((100vw - 300px) / 1300));
    }

    .pb1:hover, .pb3:hover, .pb6:hover, .pb8:hover {
        background-color: #d2d2d2;
    }

    .pb2, .pb4, .pb5, .pb7 {
        background-color: #47b075;
    }

    .pb2:hover, .pb4:hover, .pb5:hover, .pb7:hover {
        background-color: #68c290;
    }
}

.extra-bottom-border-perks {
    border: 150px solid #e9e9e9;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

/* Mobile friendly, responsive version of Prices section. */
/* (For phones/tablets) */
@media screen and (max-width:949px) {
    .table-row-prices {
        padding: 80px 5% 50px 5%;
    }
    .pricing-box {
        width: 90%;
        margin: auto;
        clear: both;
    }

    .pricing-box, .price-description {
        padding: 20px;
    }

    .pricing-box-1 {
        border: #e9e9e9 1px solid;
        border-left-style: none;
        border-right-style: none;
    }

    .pricing-box-2 {
        border: #e9e9e9 1px solid;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
    }

    .pricing-more-padding {
        padding: 40px 0px;
    }
}

/* For desktop/laptop version of Prices section. */
@media screen and (min-width:950px) {
    .table-row-prices {
        width: 80%;
        padding: 80px 10% 25px 10%;
    }

    .pricing-box {
        width: 40%;
        float: left;
        padding: 3% 5% 4% 4%;
        border: #e9e9e9 1px solid;
        border-bottom-style: none;
        border-top-style: none;
    }

    .pricing-box-2 {
        border-left-style: none;
    }

    .price-description {
        padding: 30px;
    }

    .pricing-more-padding {
        padding: 20px 0px 0px 0px;
    }

    #ref {
        padding: 0px;
        margin: 0px;
        color: #191919;
    }

    .table-row-prices, #ref {
        clear: both;
    }
}

.price-description {
    color: #47b075;
}

.option-pricing-title {
    color: white;
    font-size: calc(40px + 12 * ((100vw - 300px) / 1300));
}

.starting-price {
    padding: 5px 0px 20px 0px;
    font-size: 50px;
    color: #ffff81; /* This is a yellow color. */
}

.pricing-box {
    background-color: #191919;
}

.pricing-box-1:hover, .pricing-box-2:hover {
    background-color: black;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 60px;
}

h2, .lowbar, ul {
    color: #47b075;
}

ul li:before {
    content: '✓';
}

.pricing-more-padding {
    color: #191919;
}

/* Making photos bigger for mobile devices .*/
@media screen and (max-width:910px) {
    .extra-photos {
        width: 50%;
    }
}


/* Having 3 photos per line in bigger screens. */
@media screen and (min-width:911px) {
    .extra-photos {
        width: 33.33%;
    }
}

.extra-photos {
    float: left;
    height: auto;
}

*, .slideshow-container, #photos, .photos-section {
    padding: 0;
    margin: 0;
}

@media screen and (max-width:801px) {
    .slideshow-container {
        padding-top: 78px;
    }

}

/* Making map responsive and mobile friendly. */
@media screen and (max-width:910px) {
    .table-row-contact-us {
        padding: calc(80px + 100vw) 0 10% 0;
        width: 100%
    }
}

@media screen and (min-width:911px) and (max-width:954px) {
    .table-row-contact-us {
        padding: calc(80px + (4 * 100vw / 9)) 10% 10% 10%;
        width: 80%;
    }
}

@media screen and (max-width:954px) {
    .mapbox {
        height: 350px;
    }

    .contact-info-box {
        padding: 30px 0px;
        text-align: center;
    }
}

@media screen and (min-width:955px) {
    .table-row-contact-us {
        padding: calc(80px + (4 * 100vw / 9)) 10% 28% 10%;
    }
}

/* For desktop/laptop version of website. */
@media screen and (min-width:955px) {
    .contact-info-box {
        padding: 0px 30px 100px 60px;
    }

    .mapbox {
        height: 300px;
        padding: 30px 30px;
    }

    .contact-info-box, .mapbox {
        float: left;
        margin: 0;
        width: 40%;
    }
}

#contact-us {
    color: #e9e9e9;
}

.contact-info-box {
    font-size: 80%;
}

.footer {
    background-color: #47b075;
    padding: 10px 20px;
    font-size: 80%;
}

.introduction-text, h2, p, .starting-price, .pricing-box, .footer {
    text-align: center;
}

.footer-text {
    color: black;
}

.table-row, #photos, .footer {
    clear: both;
}
